In [1]:
import numpy as np
import tensorflow as tf
import pandas as pd

In [2]:
raw_data = pd.read_csv('model/keypoint_classifier/keypoint.csv', header=None)
raw_data.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,0.0,0.0,0.338710,-0.104839,0.600806,-0.439516,0.782258,-0.713710,0.963710,...,-0.040323,-0.645161,-0.294355,-0.758065,-0.342742,-0.915323,-0.286290,-0.697581,-0.241935,-0.629032
1,1,0.0,0.0,-0.073986,-0.171838,-0.019093,-0.360382,0.093079,-0.448687,0.207637,...,0.229117,-0.267303,0.336516,-0.264916,0.355609,-0.286396,0.319809,-0.238663,0.274463,-0.195704
2,1,0.0,0.0,-0.071090,-0.165877,-0.016588,-0.355450,0.097156,-0.440758,0.208531,...,0.239336,-0.258294,0.341232,-0.267773,0.369668,-0.277251,0.331754,-0.227488,0.281991,-0.184834
3,1,0.0,0.0,-0.080569,-0.156398,-0.033175,-0.343602,0.071090,-0.436019,0.182464,...,0.229858,-0.260664,0.336493,-0.277251,0.357820,-0.286730,0.319905,-0.234597,0.270142,-0.189573
4,1,0.0,0.0,-0.175610,-0.163415,-0.241463,-0.373171,-0.212195,-0.526829,-0.143902,...,0.012195,-0.363415,0.241463,-0.358537,0.143902,-0.412195,0.092683,-0.370732,0.080488,-0.302439

One good thing about making your own data is that there isn't really a need for data cleaning!